html {
    overflow-y: scroll;
}

body {
    background-color: #EBEBEB;
    font-family: "PT Sans Narrow";
}

.row{
    margin:0;
}

.col{
    padding:0;
}

/* ------------- */

.menu {
    background-color: #26556F;
}

.menu .nav-pills li {
    border-left: 1px solid #EBEBEB;
}

.menu .nav-pills li:last-child {
    border-right: 1px solid #EBEBEB;
}

.menu .nav-pills li a {
    text-transform: uppercase;
    background-color: #26556F;
    color: white;
}

.menu .nav-pills li.active a {
    background-color: #FF6C14;
    color: white;
}

.menu .nav-pills li a:hover, .menu .nav-pills li.active a:hover {
    background-color: white;
    color: #FF6C14;
    font-weight: bold;
}

/* --------- */

.section {
    margin-top: 20px;
    margin-bottom: 20px;
    _border: 1px solid red;
}

.title {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 200;
    color: black;
    margin-bottom: 10px;
}

.section .title {
    text-align: center;
}

.section .body {
}

.section .body .category {
    border: 1px solid #EBEBEB;
    background-color: white;
    border-top: 5px solid #FF6C14;
    margin-right: 10px;
    text-align: center;
    padding: 10px;
    height: 160px;
    padding-bottom: 40px;
}

.section .body .category:last-child {
    margin-right: 0;
}

.section .body .category img {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

/* ------------- */

.product{
    border: 1px solid #EBEBEB;
    background-color: white;
    border-top: 5px solid #26556F;
    padding: 10px;
    _height: 130px;
    margin:10px;
}

.product .image{
    text-align: center;
    _height:150px;
}

.product .image img{
    height:150px;
    max-width: 100%;
}

.product .desc{
    margin:10px 0 10px 0;
    _border:1px solid red;
    text-align: left;
    height:50px;
}
.product .desc b{
    text-transform: uppercase;
    font-size: large;
}

.product .buy{
    margin:10px 0 0 0;
    _border:1px solid blue;
    text-align: left;
    height:30px;
}

.product .buy .price{
    float:left;
    font-size:22px;
}

.product .buy .btn{
    background-color: #FF6C14;
    color:white;
    float:right;
}

.btn-repo{
    background-color: #FF6C14;
    color:white;
}

.btn-selected{
    background-color: #DAE4E8;
    border-color: #BBCCD4;
}