<style>
    .product-image-small {
        width: 60px;
    }

    .right{
        text-align: right;
    }

    .subtotal{
        background-color: #48768B !important;
        color:white !important;
        font-size: large;
    }

    .checkout-step{
        background-color: white;
        padding:20px;
    }

    .checkout-step-small{
        background-color: #F9F9F9;
        border-bottom:1px solid #DDD;
        padding:10px;
    }

    .option-box{
        margin: 10px 5px 20px 5px;
        padding: 10px;
        border:1px solid #DAE4E8;
        border-radius: 5px;
    }

    .option-box label {
        width: 100%;
        padding-left: 30px;
    }

    .option-box td{
        padding-left: 30px;
    }

    .option-box label input{
        margin-left: -25px !important;
    }

    .option-box.selected{
        border:1px solid #BBCCD4;
        background-color: #DAE4E8;
    }



</style>

<div class="micontenedor">

    <div class="container">

        <div class="row" style="margin-top: 30px;" ng-if="checkoutStep != 'finished'">
            <div class="col col-md-6" style="padding:5px;">

                <div class="checkout-step">

                    <div class="title">Carro de Compra</div>

                    <table class="table table-striped table-condensed">
                        <tr>
                            <th></th>
                            <th>Producto</th>
                            <th class="right">Precio</th>
                            <th class="right">Cantidad</th>
                            <th class="right">Total</th>
                        </tr>
                        <tr ng-repeat="prod in cart.products">
                            <td>
                                <span class="glyphicon glyphicon-remove-circle" aria-hidden="true" ng-click="removeFromCart(prod)"></span>
                                <img class="product-image-small" ng-src="img/{{prod.img}}">
                            </td>
                            <td>{{prod.name}}</td>
                            <td class="right">{{prod.price | currency:$:0}}</td>
                            <td class="right">{{prod.quantity}}</td>
                            <td class="right">{{prod.price * prod.quantity | currency:$:0}}</td>
                        </tr>
                    </table>

                    <table class="table table-striped table-condensed">
                        <tr class="subtotal">
                            <td>Subtotal</td>
                            <td class="right">{{cart.getSubTotal() | currency:$:0}}</td>
                        </tr>
                    </table>

                </div>

            </div>
            <div class="col col-md-6" style="padding:5px;">

                <div class="checkout-step" ng-show="checkoutStep == 'authentication'">

                    <div class="title">Sus datos</div>

                    <div class="row">
                        <div class="col col-md-12" style="margin-top: 10px;">
                            <div class="form-group">
                                <label for="email" class="col-sm-4 control-label">Correo Electrónico</label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="email" ng-model="data.authentication.email"
                                           placeholder="Correo electrónico">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="clave" class="col-sm-4 control-label">Celular</label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="clave" ng-model="data.authentication.mobile_number"
                                           placeholder="Teléfono Celular">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="padding-top: 20px;">
                        <div class="col col-md-6 col-md-offset-6">
                            <button type="button" class="btn btn-block"
                                    ng-class="{'btn-repo': goodToGoTo('delivery'), 'disabled': !goodToGoTo('delivery')}"
                                    ng-click="changeCheckoutStep('delivery')">Continuar al Despacho</button>
                        </div>
                    </div>

                </div>
                <div class="checkout-step-small" ng-show="['delivery', 'payment', 'resumen'].indexOf(checkoutStep) >= 0">
                    <span><b>Sus Datos:</b> {{data.authentication.email}} {{data.authentication.mobile_number}}</span>
                </div>


                <div class="checkout-step" ng-show="checkoutStep == 'delivery'">

                    <div class="title">Dirección de despacho</div>

                    <div class="row">
                        <div class="col col-md-12" style="margin-top: 10px;">
                            <div class="form-group">
                                <label for="street" class="col-sm-4 control-label">Dirección</label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="street" ng-model="data.delivery.street"
                                           placeholder="Av. Matta 567">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="detail" class="col-sm-4 control-label"></label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="detail" ng-model="data.delivery.apt"
                                           placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="commune" class="col-sm-4 control-label">Comuna</label>

                                <div class="col-sm-8">
                                    <select id="commune" class="form-control" ng-model="data.delivery.commune">
                                        <option value="Santiago">Santiago</option>
                                        <option value="Macul">Macul</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-md-6" style="padding: 5px; padding-top: 20px;">
                            <button type="button" class="btn btn-default"
                                    ng-click="backTo('authentication')">Volver</button>
                        </div>
                        <div class="col col-md-6" style="padding: 5px; padding-top: 20px;">
                            <button type="button" class="btn btn-block"
                                    ng-class="{'btn-repo': goodToGoTo('payment'), 'disabled': !goodToGoTo('payment')}"
                                    ng-click="changeCheckoutStep('payment')">Continuar al Pago</button>
                        </div>
                    </div>

                </div>
                <div class="checkout-step-small" ng-show="['payment', 'resumen'].indexOf(checkoutStep) >= 0">
                    <span><b>Dirección de Despacho:</b> {{data.delivery.street}} {{data.delivery.apt}} {{data.delivery.commune}}</span>
                </div>


                <div class="checkout-step" ng-show="checkoutStep == 'payment'">

                    <div class="title">Elija su metodo de pago</div>

                    <div class="row">
                        <div class="col col-md-4" style="padding: 5px;" ng-repeat="a in ['transferencia','efectivo', 'webpay']">
                            <button type="button" class="btn btn-block"
                                    ng-class="{'btn-selected': data.payment.type == a, 'btn-default': data.payment.type != a}"
                                    ng-click="data.payment.type = a">{{a == 'transferencia' ? 'Transferencia Bancaria' : (a == 'efectivo' ? 'Efectivo contra entrega' : 'Webpay')}}</button>
                        </div>
                    </div>

                    <div class="row" ng-if="data.payment.type == 'transferencia'">
                        <div class="col col-md-12">
                            <div class="option-box selected">
                                <table>
                                    <tr>
                                        <th>Banco</th>
                                        <td>Banco Chile</td>
                                    </tr>
                                    <tr>
                                        <th>Tipo Cuenta</th>
                                        <td>Cuenta Corriente</td>
                                    </tr>
                                    <tr>
                                        <th>Numero Cuenta</th>
                                        <td>2342345235</td>
                                    </tr>
                                    <tr>
                                        <th>Rut</th>
                                        <td>14.236.346-7</td>
                                    </tr>
                                    <tr>
                                        <th>Correo</th>
                                        <td>pagos@megarepuestos.cl</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-if="data.payment.type == 'efectivo'">
                        <div class="col col-md-12">
                            <div class="option-box selected">
                                El pago se realizará el momento de la entrega en la dirección indicada.
                                El pago será en efectivo.
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-if="data.payment.type == 'webpay'">
                        <div class="col col-md-12">
                            <div class="option-box selected">
                                Aun no contamos con este medio, por favor elegir alguno de los otros 2
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-md-6" style="padding: 5px; padding-top: 20px;">
                            <button type="button" class="btn btn-default"
                                    ng-click="backTo('delivery')">Volver</button>
                        </div>
                        <div class="col col-md-6" style="padding: 5px; padding-top: 20px;">
                            <button type="button" class="btn btn-block"
                                    ng-class="{'btn-repo': goodToGoTo('resumen'), 'disabled': !goodToGoTo('resumen')}"
                                    ng-click="changeCheckoutStep('resumen')">Ver Resumen Final</button>
                        </div>
                    </div>

                </div>
                <div class="checkout-step-small" ng-show="['resumen'].indexOf(checkoutStep) >= 0">
                    <span><b>Método de pago:</b> {{data.payment.type}}</span>
                </div>


                <div class="checkout-step" ng-show="checkoutStep == 'resumen'">

                    <div class="title">Resumen</div>

                    <div class="row">
                        <div class="col col-md-12">
                            <table class="table">
                                <tr>
                                    <th>Subtotal (Productos)</th>
                                    <td class="right">{{cart.getSubTotal() | currency:$:0}}</td>
                                </tr>
                                <tr>
                                    <th>Despacho</th>
                                    <td class="right">{{cart.deliveryCost | currency:$:0}}</td>
                                </tr>
                                <tr>
                                    <th>Promoción por Inauguración</th>
                                    <td class="right">{{-1 * cart.deliveryCost | currency:$:0}}</td>
                                </tr>
                                <tr class="subtotal">
                                    <td>Total a pagar</td>
                                    <td class="right">{{cart.getTotal() | currency:$:0}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-md-6" style="padding: 5px; padding-top: 20px;">
                            <button type="button" class="btn btn-default"
                                    ng-click="backTo('payment')">Volver</button>
                        </div>
                        <div class="col col-md-6" style="padding: 5px; padding-top: 20px;">
                            <button type="button" class="btn btn-block"
                                    ng-class="{'btn-repo': goodToGoTo('finished'), 'disabled': !goodToGoTo('finished')}"
                                    ng-click="changeCheckoutStep('finished')">Finalizar</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="row" style="margin-top: 30px;" ng-if="checkoutStep == 'finished'">
            <div class="jumbotron" style="background-color: white">
                <h1>Compra Finalizada</h1>
                <p>Te hemos enviado un correo a <b>afsdgsg@gmail.com</b> con los detalles de tu compra.</p>
                <p>Gracias por comprar en <b>Megarespuestos</b></p>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Volver al Inicio</a></p>
            </div>
        </div>
    </div>

</div>