<style scoped>

    .depth {
        padding-bottom: 10px;
        border-bottom: 4px solid #FF6C14;
        margin: 30px 0 30px 0;
    }

    .depth li {
        padding-right: 10px;
    }

    .depth .nav-pills li a {
        text-transform: uppercase;
        background-color: white;
        color: #333;
    }

    .depth .nav-pills li.active a {
        background-color: #FF6C14;
        color: white;
    }

    .depth .nav-pills li a:hover, .depth .nav-pills li.active a:hover {
        background-color: white;
        color: #FF6C14;
        font-weight: bold;
    }

    .depth .nav-pills li:last-child {
        padding-right: 0;
    }

    .depth .nav-pills .submenu{
        background-color: white !important;
        color: #333 !important;
    }

    .depth .nav-pills .submenu.selected{
        font-weight: bold;
    }

</style>


<div class="micontenedor">

    <div class="container">

        <div class="depth">

            <ul class="nav nav-pills nav-justified">
                <li role="presentation" class="dropdown" ng-repeat="af in appliedFilters">
                    <a class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false">
                        <span ng-if="af.value">{{filters[af.key].name}}: {{af.value}}</span>
                        <span ng-if="!af.value">Elija {{filters[af.key].name}}</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="option in filters[af.key].options | orderBy:'toString()'">
                            <a class="submenu" ng-class="{selected:af.value == option}" ng-click="newOptionsSelected(filters[af.key], option)">{{option}}</a>
                        </li>
                        <li>
                            <a class="submenu" ng-click="newOptionsSelected(filters[af.key])">- Eliminar Filtro -</a>
                        </li>
                    </ul>
                </li>

                <li role="presentation" class="dropdown active" ng-if="availableFilters.length > 0">
                    <a class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false">
                        Agregue un filtro <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="af in availableFilters | orderBy:'name'">
                            <a class="submenu" ng-click="newFilterSelected(af)">{{af.name}}</a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>

        <div class="row">
            <div class="col col-md-3" ng-repeat="prod in products">

                <div class="product" ng-click="selectProd(prod)">
                    <div class="image">
                        <img ng-src="img/{{prod.img}}">
                    </div>
                    <div class="desc">
                        <b>{{prod.name}}</b><br/>
                        <span>{{prod.description}}</span>
                    </div>
                    <div class="buy">
                        <div class="price">{{prod.price | currency:$:0}}</div>
                        <button type="button" class="btn btn-sm">Comprar</button>
                    </div>

                </div>

            </div>
        </div>

    </div>

    <!--ol class="breadcrumb">
        <li>
            <a href="#">Elección</a>
        </li>
        <li ng-repeat="cat in catsDepth" ng-class="{active:$last}">
            <a href="#" ng-if="!$last">{{cat.name}}</a>
            <span ng-if="$last">{{cat.name}}</span>
        </li>
    </ol-->

    <footer>
        <p>© 2015 Company, Inc.</p>
    </footer>

</div>