<style scoped>
    .minipic {
        height: 80px;
        display: inline-table;
        margin: 10px;
        margin-left: 0;
    }

    .minipic img {
        height: inherit;
    }

    .bigpic {
        _border: 1px solid black;
    }

    .bigpic img {
        width: 100%;
    }

    .description-container {
        _border: 1px solid red;
        padding: 20px;
        text-align: left;
    }

    .description-container h1 {
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 200;
        color: black;
        margin-top: 0;
    }

    .description-container .price {
        font-size: 34px;
        font-weight: bold;
        color: #26556F;
    }

    .description-container .addtocart {
        margin-top: 20px;
    }

    .description-container .operators {
        display: inline;
    }

    .description-container .operators span, .description-container .operators input {
        display: inline-block;
        height: 48px;
        width: 48px;
        font-size: 49px;
        font-weight: 200;
        line-height: 0.9;
        vertical-align: middle;
        color: #fff;
        background: #EBEBEB;
        text-align: center;
        margin: 0 2px;
    }

    .description-container .operators input {
        background: white;
        color: inherit;
        font-size: large !important;
        font-weight: bold;
    }

    .description-container .btn {
        display: inline;
        background-color: #FF6C14;
        color: white;
        float: right;
    }

    .description-container .compatibility {
        margin-top: 20px;
    }

    .description-container .compatibility ul {
        text-transform: uppercase;
        font-size: 16px;
        list-style-type: square;
        padding-left: 20px;
    }

</style>

<div class="micontenedor">


    <div class="container">

        <div class="row" style="margin-top: 30px;">
            <div class="col col-md-12" style="background-color: white">

                <div class="row">
                    <div class="col col-md-6">
                        <div class="bigpic">
                            <img src="img/{{product.img}}">
                        </div>
                        <div>
                            <div class="minipic" ng-repeat="a in [0,1,2,3,4]">
                                <img src="img/{{product.img}}">
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-6 description-container">
                        <h1>{{product.name}}</h1>
                        <h4>{{product.description}}</h4>

                        <div class="price">{{product.price | currency:$:0}}</div>

                        <div class="compatibility">
                            <ul>
                                <li>Compatible con</li>
                            </ul>
                            <table class="table table-condensed">
                                <tr>
                                    <th>Marca</th>
                                    <th>Modelo</th>
                                    <th>Años</th>
                                </tr>
                                <tr ng-repeat="fit in product.fits | orderBy:['brand','model']">
                                    <td>{{fit.brand}}</td>
                                    <td>{{fit.model}}</td>
                                    <td>{{fit.year | array2list}}</td>
                                </tr>
                            </table>
                        </div>

                        <div class="addtocart">
                            <div class="operators">
                                <span ng-click="changeQuantity(-1)"> - </span>
                                <input type="text" ng-model="data.quantity">
                                <span ng-click="changeQuantity(1)"> + </span>
                            </div>
                            <button type="button" class="btn btn-lg" ng-click="addToCart(product)">Agregar al Carro de Compra</button>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="row" style="margin-top: 30px;">
            <div class="section" style="margin-top: 30px;">
                <div class="row title">
                    <div class="col col-md-12">
                        <span ng-if="usualFilterHumanString">Otros productos compatibles con el <span style="color:#FF6C14;">{{usualFilterHumanString | capitalize}}</span></span>
                        <span ng-if="!usualFilterHumanString">Otros productos que pueden interesarte</span>
                    </div>
                </div>
                <!--div class="col col-md-6">
                    <ol class="breadcrumb">
                        <li>
                            <a href="#">Elección</a>
                        </li>
                        <li ng-repeat="cat in catsDepth" ng-class="{active:$last}">
                            <a ng-if="!$last">{{cat.name}}</a>
                            <span ng-if="$last">{{cat.name}}</span>
                        </li>
                    </ol>
                </div-->
                <div class="row body">
                    <div class="row">
                        <div class="col-md-3" ng-repeat="prod in featured">
                            <div class="product" ng-click="selectProd(prod, appliedFilters)">
                                <div class="image">
                                    <img ng-src="img/{{prod.img}}">
                                </div>
                                <div class="desc">
                                    <b>{{prod.name}}</b><br/>
                                    <span>{{prod.id}} {{prod.description}}</span>
                                </div>
                                <div class="buy">
                                    <div class="price">{{prod.price | currency:$:0}}</div>
                                    <button type="button" class="btn btn-sm">Ver</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>